@model FashionWeb.Models.Product

<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img style="height: 300px; object-fit: cover;" class="img-fluid w-100" src="~/@Model.Image" alt="">
            <div class="product-action">
                <a class="btn btn-outline-dark btn-square" href="/Cart/AddToCart/?productID=@Model.ProductID"><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="/Product/Details/?id=@Model.ProductID">@Model.ProductName</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                <h5><small>đ</small>@(Model.Price * (1 - Model.Discount))</h5><h6 class="text-muted ml-2"><del><small>đ</small>@Model.Price</del></h6>
            </div>
        </div>
    </div>
</div>