@using FashionWeb.Areas.Admin.Models
@model IList<AdminMenu>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src="~/admin/assets/images/faces/face1.jpg" alt="profile">
                <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">David Grey. H</span>
                <span class="text-secondary text-small">Project Manager</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        @foreach (var item in Model.Where(m => m.ItemLevel == 1).OrderBy(n => n.ItemOrder))
        {
            var Pid = item.AdminMenuID;
            <li class="nav-item"><a class="nav-link" href="/@item.Link"> <i style="margin-right:3px; color:#3e4b5b" class="@item.Icon"></i> @item.ItemName</a></li>
                
                
        }
        <li class="nav-item sidebar-actions">
          <span class="nav-link">
          <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Projects</h6>
          </div>
          
      </span>
          <a class="btn btn-block btn-lg btn-gradient-primary mt-4" href="/Admin/Product/Create">+ Thêm sản phẩm</a>
          <a class="btn btn-block btn-lg btn-gradient-primary mt-4" href="/Admin/Category/Create">+ Thêm danh mục</a>
        </li>
     </ul>
</nav>