@using FashionWeb.Utilities;
@model FashionWeb.Models.Category;
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description"> Basic form elements </p>
                        <form class="forms-sample" asp-action="Create" method="post">
                            <div class="form-group">
                                <label asp-for="CategoryName">Tên danh mục </label>
                                <input type="text" class="form-control" asp-for="CategoryName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <div class="input-group col-xs-12">
                                    <div class="input-group-append">
                                        <button class="file-upload-browse btn btn-gradient-primary" type="button" onclick="openDialog()">Tải lên</button>
                                    </div>
                                    <input type="text" class="form-control file-upload-info" asp-for="CategoryImage" id="file_input" aria-describedby="button-addon2" placeholder="Upload Image">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.CheckBox("IsActive", false)Hiển thị lên trang
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="MenuOrder">Thứ tự</label>
                                <input class="form-control" asp-for="MenuOrder" placeholder="Price">
                            </div>
                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                            <button class="btn btn-light" href="javascript:history.back()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var summerNote = new FashionWeb.Areas.Admin.Models.SummerNote("");
    <partial name="_SummerNote" model="summerNote" />
}
